.map_neighbourhood_name {
  font-family: Calibri;
  color: black;
  font-size: 18px;
}
.map_neighbourhood {
    fill: #6fe79a;
    stroke: #999999;
    stroke-width: 0.5px;
}
.map_neighbourhood:hover {
    fill: #ffff9a;
    cursor: pointer;
}
#main-svg {
    margin-left: 10px;
    margin-right: auto;
    width: 800px;
}
#source-text {
  font-family: Calibri;
  color: black;
  font-size: 12px;
  margin-left: 10px;
}
