
html, body {
  background: #000;
  font-family: "Quicksand";
  color: white;
}
#main-svg {
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Quicksand';
    fill: white;
}
#source-text {
  font-family: 'Quicksand';
  font-size: 20px;
  margin-left: 20px;
}
